<form method="POST" action="/api">
  <label>
    Název aplikace
    <input required type="text" name="APPNAME" value="Midterm" />
    <small>Cokoliv, ale měl by sedět s Android Studiem</small>
  </label>

  <label>
    Balíček aplikace
    <input required type="text" name="APPPACKAGE" pattern="(\w+\.)+\w+" value="cz.mendelu.midterm" />
    <small>Cokoliv, ale MUSÍ sedět s Android Studiem</small>
  </label>

  <label>
    Název dat (množný číslo)
    <input required type="text" name="DATA" pattern="[A-Z]\w+" value="Kids" />
  </label>

  <label>
    Název datové jednotky
    <input required type="text" name="DATAITEM" pattern="[A-Z]\w+" value="Kid" />
  </label>

  <button>Odeslat</button>
</form>

<style>
  form {
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  small {
    font-weight: normal;
  }

  input {
    padding: 0.5rem;
    font-weight: normal;
    font-size: medium;
  }

  button {
    padding: 0.5rem;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
  }
</style>
